@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutPageLoginRegister.cshtml";
}

<form asp-action="/Account/ForgotPassword" method="post" class="forgotpassword">
    <div class="black">Enter your email address so we can reset your password.</div>
    <div asp-validation-summary="All" class="red-text"></div>
    
    <input class="reg-input" name="Email" asp-for="Email" type="email" placeholder="Email" value="@Model.Email" required />
    <input type="password" class="reg-input" name="Password" asp-for="Password" placeholder="Password" value="@Model.Password" required/>
    <input type="password" class="reg-input" name="ConfirmPassword" asp-for="Password" placeholder="Confirm password" value="@Model.ConfirmPassword" required/>
    <span asp-validation-for="Password" class="red-text"></span>
    <span asp-validation-for="ConfirmPassword" class="red-text"></span>
    <div class="form-group">
        <div class="col-md-offset-2 titles">
            <input type="submit" class="btn dark btn-outline sbold uppercase" value="SUBMIT" />
        </div>

    </div>
</form>
<small class="smalls text-margin-right">
    <a href="~/books/Disclaimer" class="animation">Disclaimer</a>&nbsp;&nbsp;&nbsp;
    <a href="~/books/TermsAndConditions" class="animation">Terms and Conditions</a>&nbsp;&nbsp;&nbsp;
    <a href="~/books/PrivacyPolicy" class="animation">Privacy Policy</a>
</small>
