
@{
    ViewData["Title"] = "Disclaimer";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2 class="login-title">Disclaimer</h2>

<div class="form-card bottom-margin">
    <p>
        Service Agreement (2 minute read):
    </p><br />
    <p>
        Everyone agrees that Narrativ Books is not held responsible for any content of the users' writings and that all writings are treated as fictional
        entertainment. Any mature content such as hate speech, drug use, violence, reference to public figures, reference to contemporary organizations, fictional
        reference to potentially real-life groups, erotic content, etc. is considered fictional and not a threat to anybody's wellbeing or slander, hence the maturity
        ratings.
    </p><br /><p>
        The quality of the writing to be consumed by others is to be determined before purchase based on the details provided and the writing sample. There are no
        refunds. However, if a fraud has been posted with false book details, for instance if a book document ends up being a blank page, the fraud may be reported
        to reverse the transaction if possible- if not we will supply needed evidence for the victim's bank to reverse the charge. Please see the "Refunds" sec. in
        our Terms and Conditions. If a user has a dispute, they may use one of the channels of communication available with Narrativ Books.
    </p><br /><p>
        No writing or book shall be subject to legal action requiring Narrativ Books to reject or tamper with the book, because it is a violation of freedom
        of speech and everything is considered fiction. Any such activities will require the right under written, widely accepted laws created by the traditional
        legal process of creating legislation in Australia to not be considered criminal activity or government corruption against the authors or this company.
    </p><br /><p>
        Users agree not to chastise, intimidate or otherwise bother any other user. These things may be reported to Narrativ Books and can be means for dismissal
        from the site. However, we will investigate and any false complaints to target a user for personal gain will also be means for the accuser to be banned.
    </p><br /><p>
        Users agree to test their postings and uploads to make sure that they are able to complete sales. Users agree to report any problem making a transaction
        immediately to Narrativ Books by means of at least two different types of contact information provided for our immediate legal investigations. If there is
        no response within a couple days, users agree to try again with multiple communication options provided.
    </p><br /><p>
        Everyone agrees that the laws of plagarism and using Narrativ Books to distribute works that they do not have ownership to apply. Narrativ Books will
        participate in helping enforce those laws, but only after requested.
    </p><br /><p>
         Users agree to allow Narrativ Books to post their work for the purpose of other users reading it, including but not limited to the writing details
         in the upload form such as maturity ratings, writing type, etc. and any future writing details. By visiting the website, users agree to the given maturity
         ratings of all works and do not object to any decisions made concerning maturity level.
    </p><br /><p>
        Everyone agrees to immediately report any activity that they did not do themselves which impacted their own free will concerning their writings
        and use of the website.
    </p><br /><p>
        Please see the bottom of this page for contact information.
    </p><br /><p>
        It is the user’s responsibility to ensure that they (the user) are using a version of their word processor to generate their .docx documents that allows
        commercial sale of their book document in the end user license agreement.
    </p><br /><p>
        User information is not accessed. Until further features are implemented, the onus is on the user to remember their password. If forgotten, they must report it to close their account and open a new one.
    </p><br /><br /><h2>
        Narrativ Books Disclaimer-
    </h2><br />
    <h3>1. Introduction</h3>
    <br /><p>1.1	This disclaimer shall govern your use of our website.</p>
    <br /><p>1.2	By visiting our website, you accept this disclaimer in full; accordingly, if you disagree with this disclaimer or any part of this disclaimer, you must not use our website.</p>
    <br /><h3>2. Credit</h3>
    <br /><p>2.1 This document was created using a template from <a href="https://seqlegal.com">SEQ Legal</a>.</p>
    <br /><h3>3.	Copyright notice</h3>
    <br /><p>3.1	Copyright (c) 2020 Narrativ Books.</p>
    <br /><p>3.2	Subject to the express provisions of this disclaimer:</p>
    <br /><p>(a)	we, together with our licensors, own and control all the copyright and other intellectual property rights of Narrativ Books and the material on Narrativ Books not created by users; and</p>
    <br /><p>(b)	all the copyright and other intellectual property rights of Narrativ Books and the material on our website are reserved.</p>
    <br /><h3>4. Limits of Service</h3>
    <br /><p>4.1	We only provide the following services:</p>
    <br /><p>(a) a platform for writers acting independently from Narrativ Books to upload their work and socialize with other site users</p>
    <br /><p>(b) more details about the works of writing than other online platforms such as maturity ratings, search by synopsis excerpts, and two genres</p>
    <br /><p>(c) maturity ratings that are unbiased and un-altering from previous ratings by using a constitutional creed for assessment rather than a real-time interpretation</p>
    <br /><p>(d) means for users to socialize with each other and contact each other</p>
    <br /><p>(e) other various features</p>
    <br /><h3>4.2 We do not provide the following services:</h3>
    <br /><p>(a) Any warranty or associations with the users or their content</p>
    <br /><p>(b) Anything outside the scope of the obvious features one can gather from visiting the website</p>
    <br /><h3>5. Limited warranties</h3>
    <br /><p>5.1	We do not warrant or represent:</p>
    <br /><p>(a)	the completeness or accuracy of the information published on our website;</p>
    <br /><p>(b)	that the material on the website is up to date;</p>
    <br /><p>(c)	that the website will operate without fault; or</p>
    <br /><p>(d)	that the website or any service on the website will remain available. Any promises or future assets given to users by means of deals is under the basis that the website will continue to exist with its current ownership and/or structure until such time as those deals are executed.</p>
    <br /><p>5.2	We reserve the right to discontinue or alter any or all of our website services, and to stop publishing our website, at any time in our sole discretion without notice or explanation and without owing users any deals promised; and save to the extent expressly provided otherwise in this disclaimer, you will not be entitled to any compensation or other payment upon the discontinuance or alteration of any website services, or if we stop publishing the website.</p>
    <br /><p>5.3	To the maximum extent permitted by applicable law, we exclude all representations and warranties relating to the subject matter of this disclaimer, our website and the use of our website. By using our services and by visiting our website, users agree to excuse Narrativ Books from any legal liability or lawsuits of any topic. Users agree that no third party or outside entity may sue or press legal charges on Narrativ Books on their behalf whether acting singularly or in a group, for any reason whatsoever.</p>
    <br /><h3>6.	Limitations and exclusions of liability</h3>
    <br /><p>6.1	Nothing in this disclaimer will:</p>
    <br /><p>(a)	limit or exclude any liability for death or personal injury resulting from negligence;</p>
    <br /><p>(b)	limit or exclude any liability for fraud or fraudulent misrepresentation;</p>
    <br /><p>(c)	limit any liabilities in any way that is not permitted under applicable law; or</p>
    <br /><p>(d)	exclude any liabilities that may not be excluded under applicable law.</p>
    <br /><p>6.2	The limitations and exclusions of liability set out in this Section 6 and elsewhere in this disclaimer:</p>
    <br /><p>(a)	are subject to Section 6.1; and</p>
    <br /><p>(b)	govern all liabilities arising under this disclaimer or relating to the subject matter of this disclaimer, including liabilities arising in contract, in tort (including negligence) and for breach of statutory duty, except to the extent expressly provided otherwise in this disclaimer.</p>
    <br /><p>6.3	To the extent that our website and the information and services on our website are provided, we will not be liable for any loss or damage of any nature, including anything directly related to users such as, but not limited to, damage to reputation.</p>
    <br /><p>6.4	We will not be liable in respect of any losses arising out of any event or events relevant to the services of Narrativ Books.</p>
    <br /><p>6.5	We will not be liable in respect of any business losses, including (without limitation) loss of or damage to profits, income, revenue, use, production, anticipated savings, business, contracts, commercial opportunities or goodwill.</p>
    <br /><p>6.6	We will not be liable in respect of any loss or corruption of any data, database or software.</p>
    <br /><p>6.7	We will not be liable in respect of any special, indirect or consequential loss or damage.</p>
    <br /><p>6.8	Narrativ Books or its owners will not be held liable in any way for user content and makes no claims on behalf of its users.</p>
    <br /><p>6.9	By visiting our website, users agree not to sue or otherwise attack Narrativ Books for any other reason not mentioned, whether or not acting alone, through other parties or in a group.</p>
    <br /><h3>7.	Variation</h3>
    <br /><p>7.1	We may revise this disclaimer from time to time.</p>
    <br /><p>7.2	The revised disclaimer shall apply to the use of our website from the time of publication of the revised disclaimer on the website.</p>
    <br /><h3>8.	Severability</h3>
    <br /><p>8.1	If a provision of this disclaimer is determined by any court or other competent authority to be unlawful and/or unenforceable, the other provisions will continue in effect.</p>
    <br /><p>8.2	If any unlawful and/or unenforceable provision of this disclaimer would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision will continue in effect.</p>
    <br /><h3>9.	Law and jurisdiction</h3>
    <br /><p>9.1	This disclaimer shall be governed by and construed in accordance with Australian law.</p>
    <br /><p>9.2	Any disputes relating to this disclaimer shall be subject to the exclusive jurisdiction of the courts of Australia.</p>
    <br /><h3>10. Statutory and regulatory disclosures</h3>
    <br /><h3>11. Our details</h3>
    <br /><p>11.1 You may contact us:</p>
    <br /><p>Email: narrativBooks@gmail.com</p>
</div>
<small class="smalls text-margin-left"><a href="~/books/Disclaimer" class="text-white">Disclaimer</a>&nbsp;&nbsp;&nbsp;<a href="~/books/TermsAndConditions" class="text-white">Terms and Conditions</a>&nbsp;&nbsp;&nbsp;<a href="~/books/PrivacyPolicy" class="text-white">Privacy Policy</a></small>
